*{
    margin: 0;
    padding: aut0;
}

@keyframes rotateBox{
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: scale(1.35);
    }

    100%{
        transform: translatex(70%);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width  : 100vw;
    height : 100vh;
    
    
    
}
.box {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    width  : 200px;
    height : 200px;
    font-size: 30px;
    color: white

}

.box:hover{
    animation:  rotateBox 2s ease-in-out;
}


