*{
    margin: 0;
    padding: 0;
  }
  
  @keyframes rotateBox {
      0% {
          transform: rotate(90deg);
      }
  
      50% {
          transform: scale(1.35);
      }
  
      100% {
          transform: translateX(70%);
  
      }
  } 
  
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: beige;
      width: 100vw;
      height: 100vh;
      gap: 40px;
  }
  
  .box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: blueviolet;
      width: 200px;
      height: 200px;
      color: white;
      font-size: 30px;
  }
  
  .button {
      padding: 30px;
      font-size: 20px;
  }
  
  .box:hover {
      animation: rotateBox 5s forwards;
  } 

  .hidden {
    display: none;
  }